.baseContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.formStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
